# IDE / EDITOR FILES
.idea/
*.iml
.vscode/

# PYTHON / CACHE / ENVS
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# MODEL FILES
*.pt
*.pth
*.ckpt

# DATA FILES
# Ignore all data folders
**/data/**

# Except CSVs
!**/data/*.csv

# IMAGE / TEXT / JSON FILES
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.json

# OS / MISC
.DS_Store
Thumbs.db